html {

  background-color: #795c45;
  padding: 0;
  margin: 0;
  border: 0;
}

#bitcoin {

	position: absolute;
	margin-right: 0px;
	margin-left: 0px;

}
#button, #button1 {

	position:absolute;
	right: 0px;
	width: 100px;
	height: 50px;
}

#news {

	height: 50px;
	text-align: center;
	font-weight: bold;
}

#stats {

	margin-right: 0px;
	margin-left: 0px;
	top: 100px;
	position:absolute;

}

#upgrades {
	float:right;
}
.statunit {
	float:right;
	vertical-align:super;
	position:static;
}
.statnum {
	float: left;
	position:static;
	vertical-align:sub;
	font-size: 28px;
}
